/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
     /* background-image: url('./assets/mb_frozen2_20200316_2x.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
    }
